In [100]:
import pandas as pd
import numpy as np
import os
from geopy import geocoders
from geopy.geocoders import GoogleV3

import gmplot
from matplotlib import rc
import matplotlib.pyplot as plt
from IPython.core.display import display, HTML

from mpl_toolkits.basemap import Basemap

font = {'size': 20}
rc('font', **font)
plt.style.use('seaborn-dark-palette')
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [13]:
df = pd.read_pickle('../data/SRP/custs_by_address.pkl')

In [10]:
API_KEY = os.getenv("API1234")
g = GoogleV3(api_key=API_KEY)
# g = GoogleV3(api_key='AIzaSyCPOpYblPxWfEiR22NnpRo4HANlPtb9RPQ')
# g = GoogleV3(api_key='AIzaSyAa-rdtcA4yzpFa-60RNUY8ZEahuyaZ5V0')
# g = GoogleV3(api_key='AIzaSyC7fY4z-wKStqa5RvdXvy-XMMzd7n8gqtc')
g = GoogleV3(api_key='AIzaSyCbVNVfAirezaEJV2GMSECJIg2CRXn-qiI')



street_i = df.columns.get_loc('state')
city_i = df.columns.get_loc('city')
state_i = df.columns.get_loc('state')
zip_i = df.columns.get_loc('zip_code')
lat_i = df.columns.get_loc('latitude')
long_i = df.columns.get_loc('longitude')

for index, row in df[ (np.isnan(df.latitude)) | (np.isnan(df.longitude))].iterrows():
    street = row[street_i]
    city = row[city_i]
    state = row[state_i]
    zip_code = row[zip_i]
    lat = row[lat_i]
    long = row[long_i]
    address = '{} {}, {}, {}'.format(street, city, state, zip_code)
    try:
        loc = g.geocode(address, timeout=15)
        df.set_value(index, 'latitude', loc.latitude)
        df.set_value(index, 'longitude', loc.longitude)
        print('success!')
    except Exception as e:
        print('Error, skipping address...', e)

Error, skipping address... 'NoneType' object has no attribute 'latitude'
Error, skipping address... 'NoneType' object has no attribute 'latitude'
Error, skipping address... 'NoneType' object has no attribute 'latitude'
Error, skipping address... 'NoneType' object has no attribute 'latitude'
Error, skipping address... 'NoneType' object has no attribute 'latitude'
Error, skipping address... 'NoneType' object has no attribute 'latitude'

In [11]:
df[ (np.isnan(df.latitude)) | (np.isnan(df.longitude))]

,street,city,state,zip_code,latitude,longitude
address1,,,,,,
SPEEDWAY #7592,146 DELAWARE AVE,ELSMERE,NY,12054,NaN,NaN
SPEEDWAY #4674,3910 GEORGE WASH MEMO HWY,GRAFTON,VA,23692,NaN,NaN
SPEEDWAY #6766,2949 HORSESHOE PIKE,CAMPBELLTOWN,PA,17078,NaN,NaN
7 ELEVEN SBT PROGRAM #33094,480 ROCKAWAY TURNPIKE NEC,LAWRENCE,NY,11559,NaN,NaN
PEP BOYS #453,61-01 METROPOLITAN AVE,RIDGEWOOD,NJ,11385,NaN,NaN
7 ELEVEN SBT PROGRAM #39845,11473 SPOTSWOOD TRAIL,MCGAHEYSVILLE,VA,22840,NaN,NaN

In [12]:
df.to_pickle('../data/SRP/custs_by_address.pkl')

## Map

In [3]:
df_lat = pd.read_pickle('../data/SRP/custs_by_address.pkl')

In [4]:
df_cust = pd.read_pickle('../data/SRP/cust_table_out.pkl')

In [29]:
df_comb = df_cust.join(df_lat[['latitude', 'longitude']])
df_comb.shrink_value_per_day.values.min()

-6.685422771672773

## gmap

In [47]:
colors = ['blue', 'gree', 'red', 'blue']
marker = []

gmap = gmplot.GoogleMapPlotter(39.015697, -94.565559, 5)

for clust in df_comb.cluster.unique():
    foo = df_comb.cluster == clust ]
    lats = foo.latitude.values
    longs = foo.longitude.values
    shrink = foo.shrink_value_per_day.values
    size = (shrink - shrink.min()) * 50
    gmap.scatter([37.769596], [-122.480137], 'red', size=2000, marker=False)
    gmap.scatter(lats, longs, c=colors[int(clust)], size=500, marker=False)


gmap.draw('mymap.html')

In [ ]:
google-chrome

In [15]:
f = open("cities.txt","w+")
for cust in df_comb[['latitude', 'longitude', 'cluster']].values:
    cust = list(cust)
    clust = cust[2]
    if clust == '0':
        f.write('{} {} <blue-dot>'.format(cust[0], cust[1]))
    elif clust == '1':
        f.write('{} {} <green-dot>'.format(cust[0], cust[1]))
    elif clust == '2':
        f.write('{} {} <default-dot>'.format(cust[0], cust[1]))
    elif clust == '3':
        f.write('{} {} <tan-dot>'.format(cust[0], cust[1]))
    f.write('\n')
f.close()

In [14]:
df_comb[['latitude', 'longitude', 'cluster']].values[0][2]

'0'