In [1]:
import pandas as pd
import numpy as np
import time
pd.set_option('max_columns',500)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
df = pd.read_pickle('../data/SRP/raw_subset_20k.pkl')

In [6]:
df = df.groupby('address1').mean().reset_index()

In [9]:
df.head()

,address1,duration,ship_id,customer_id,sales_rep_id,item_id,old_item_id,item_category,item_UPC,old_item_UPC,qty_POG_limit,qty_n,qty_f,qty_o,qty_d,qty_delivery,qty_sales,unit_price,qty_prev_end_inventory,qty_out,qty_start_inventory,qty_end_inventory,qty_inv_out,qty_ex_del,qty_shrink,qty_shrink_out,qty_shrink_ex_del,sales_value,shrink_value,shrink_to_sales_value_pct,shrink_value_out,shrink_to_sales_value_pct_out,shrink_value_ex_del,shrink_to_sales_value_pct_ex_del,ship_list_pk,sales_rep_id_2,list_header_id,dist_customer_id
0,#501 PACWEST/JACKSON,0.0,200606.0,3088198.0,100292124.0,1928135.00,1928135.00,16.0,6.087072e+10,6.087072e+10,4.0,1.000000,0.0,0.0,0.0,0.0,2.000000,9.170000,4.00,1.000000,3.000000,4.0,1.000000,1.000000,-1.000000,-1.000000,-1.000000,18.340000,-9.170000,-50.0,7.170000,39.094875,-9.170000,-50.0,171843.0,100292124.0,5587051.0,-1.0
1,#505 PACWEST/JACKSON,0.0,200612.0,3088198.0,100292124.0,2100138.00,2100138.00,16.0,6.087072e+10,6.087072e+10,4.0,4.000000,0.0,0.0,0.0,0.0,0.000000,10.790000,4.00,4.000000,0.000000,4.0,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000,43.160000,4316.0,43.160000,4316.000000,43.160000,4316.0,171846.0,100292124.0,5587051.0,-1.0
2,#506 PACWEST/JACKSON,0.0,200614.0,3088198.0,100292124.0,2173814.25,1603858.25,14.5,4.767300e+10,4.767300e+10,2.5,0.750000,0.0,1.0,0.0,0.0,0.250000,8.397500,4.75,0.750000,2.750000,2.5,2.000000,2.000000,1.750000,0.500000,1.750000,1.482500,16.317500,1508.5,5.007500,275.034148,16.317500,1508.5,171847.0,100292124.0,5587051.0,-1.0
3,#508 PACWEST/JACKSON,0.0,200616.0,3088198.0,100292124.0,2180727.00,1420828.00,12.0,4.327375e+10,4.327375e+10,8.0,7.666667,0.0,0.0,0.0,0.0,1.333333,6.936667,8.00,7.666667,0.333333,8.0,7.666667,7.666667,6.333333,6.333333,6.333333,5.746667,31.153333,950.0,35.566667,975.599381,31.153333,950.0,173236.0,100292124.0,5587051.0,-1.0
4,#509 PACWEST/JACKSON,0.0,200631.0,3088198.0,100292124.0,2279846.00,1892129.00,10.0,6.087071e+10,6.087071e+10,3.0,2.000000,0.0,0.0,0.0,0.0,2.000000,7.500000,3.00,2.000000,1.000000,3.0,2.000000,2.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.0,13.000000,86.666667,0.000000,0.0,173075.0,100292124.0,5587051.0,-1.0

In [5]:
df_cust = pd.read_pickle('../data/SRP/custs_by_address.pkl')

In [10]:
df_cust.head()

                               street          city state  zip_code
address1
SPEEDWAY #6989     10920 CREEDMOOR RD       RALEIGH    NC     27615
SPEEDWAY #8223       520 MAIN ST WEST       AHOSKIE    NC     27910
SPEEDWAY #8224          604 E MAIN ST  MURFREESBORO    NC     27855
SHEETZ - DSD #307     11449 KINGS HWY   KING GEORGE    VA     22485
SHEETZ - DSD #151      1 W 4TH STREET      EMPORIUM    PA     15834

In [11]:
df.join(df_cust, on='address1').head()

,address1,duration,ship_id,customer_id,sales_rep_id,item_id,old_item_id,item_category,item_UPC,old_item_UPC,qty_POG_limit,qty_n,qty_f,qty_o,qty_d,qty_delivery,qty_sales,unit_price,qty_prev_end_inventory,qty_out,qty_start_inventory,qty_end_inventory,qty_inv_out,qty_ex_del,qty_shrink,qty_shrink_out,qty_shrink_ex_del,sales_value,shrink_value,shrink_to_sales_value_pct,shrink_value_out,shrink_to_sales_value_pct_out,shrink_value_ex_del,shrink_to_sales_value_pct_ex_del,ship_list_pk,sales_rep_id_2,list_header_id,dist_customer_id,street,city,state,zip_code
0,#501 PACWEST/JACKSON,0.0,200606.0,3088198.0,100292124.0,1928135.00,1928135.00,16.0,6.087072e+10,6.087072e+10,4.0,1.000000,0.0,0.0,0.0,0.0,2.000000,9.170000,4.00,1.000000,3.000000,4.0,1.000000,1.000000,-1.000000,-1.000000,-1.000000,18.340000,-9.170000,-50.0,7.170000,39.094875,-9.170000,-50.0,171843.0,100292124.0,5587051.0,-1.0,404 NE 78TH ST,VANCOUVER,WA,98665
1,#505 PACWEST/JACKSON,0.0,200612.0,3088198.0,100292124.0,2100138.00,2100138.00,16.0,6.087072e+10,6.087072e+10,4.0,4.000000,0.0,0.0,0.0,0.0,0.000000,10.790000,4.00,4.000000,0.000000,4.0,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000,43.160000,4316.0,43.160000,4316.000000,43.160000,4316.0,171846.0,100292124.0,5587051.0,-1.0,15 NE BROADWAY ST,PORTLAND,OR,97232
2,#506 PACWEST/JACKSON,0.0,200614.0,3088198.0,100292124.0,2173814.25,1603858.25,14.5,4.767300e+10,4.767300e+10,2.5,0.750000,0.0,1.0,0.0,0.0,0.250000,8.397500,4.75,0.750000,2.750000,2.5,2.000000,2.000000,1.750000,0.500000,1.750000,1.482500,16.317500,1508.5,5.007500,275.034148,16.317500,1508.5,171847.0,100292124.0,5587051.0,-1.0,519 NE BROADWAY ST,PORTLAND,OR,97232
3,#508 PACWEST/JACKSON,0.0,200616.0,3088198.0,100292124.0,2180727.00,1420828.00,12.0,4.327375e+10,4.327375e+10,8.0,7.666667,0.0,0.0,0.0,0.0,1.333333,6.936667,8.00,7.666667,0.333333,8.0,7.666667,7.666667,6.333333,6.333333,6.333333,5.746667,31.153333,950.0,35.566667,975.599381,31.153333,950.0,173236.0,100292124.0,5587051.0,-1.0,10131 NE SANDY BLVD,PORTLAND,OR,97220
4,#509 PACWEST/JACKSON,0.0,200631.0,3088198.0,100292124.0,2279846.00,1892129.00,10.0,6.087071e+10,6.087071e+10,3.0,2.000000,0.0,0.0,0.0,0.0,2.000000,7.500000,3.00,2.000000,1.000000,3.0,2.000000,2.000000,0.000000,0.000000,0.000000,15.000000,0.000000,0.0,13.000000,86.666667,0.000000,0.0,173075.0,100292124.0,5587051.0,-1.0,20800 NE SANDY BLVD,FAIRVIEW,OR,97024

# Data Cleaning

In [4]:
def date_to_int(row, col, df):
    index = df.columns.get_loc(col)
    date = row[index]
    return time.mktime(time.strptime(str(date), '%Y-%m-%d %H:%M:%S'))

In [5]:
def data_type(df):
    # datetime and date to int
    date_cols = ['visit_date', 'prev_visit_date', 'prev_item_move_date', 
                 'last_edit_date', 'creation_date']
    for col in date_cols:
        # convert multiple time formats into single string format
        df[col] = pd.to_datetime(df[col]).dt.strftime('%Y-%m-%d %H:%M:%S')
        # make time features specific data type in order to distinguish from other numberic values
        df['{}_int'.format(col)] = df.apply(date_to_int, col=col, df=df, axis=1).astype(np.float32)
        # convert string format back into datetime
        df[col] = pd.to_datetime(df[col])
    
    # objects
    obj_cols = ['ship_id', 'address1', 'customer_id', 'sales_rep_id', 'item_id', 'old_item_id', 
                'item_UPC', 'old_item_UPC', 'ship_list_pk', 'sales_rep_id_2', 'list_header_id']
    for col in obj_cols:
        df[col] = df[col].astype(object)

In [6]:
def nans(df):
    df.dropna(axis=0, inplace=True)
    # caution: crime data cuts total data in ~1/3

In [7]:
def zip_code_inc(row, df):
    index = df.columns.get_loc('postal_code')
    code = row[index]
    return int(code[:5])

In [8]:
def days_between_visits(df):
    out_arr = []
    i = 0
    for index, row in df.iterrows():
        diff = row['visit_date'] - row['prev_visit_date']
        out_arr.append(pd.Timedelta(diff).days)
    return out_arr

In [25]:
def init_nans(df, num_periods, lag_vars, col_name_suf):
    '''
    Initiate column(s) of nan values for your lag variables in the given dataframe
    Inputs:
        df - dataframe
        num_periods - number of periods (previous dates) to go back and attempt to fill lag values for
        lag_vars - columns of values to create lag variables with
        col_name_suf - suffix to append to newly created columns (help to distinguish between last filtered column choosen)
        '''
    for period in range(1, num_periods + 1):
        for lag_var in lag_vars:
            df['{}_lag{}{}'.format(lag_var, period, col_name_suf)] = np.nan

In [26]:
def set_lag_vals(df, comb_mask, date_col, lag_vars, num_periods, col_name_suf):
    '''
    Sets lag values according to the last column in the heirarchy or columns
    Inputs:
        df - dataframe
        comb_mask - combined mask for current value combinations between columns. Used to filter dataframe
        date_col - date column to use in grouping and lag periods
        lag_vars - columns of values to create lag variables with
        num_periods - number of periods (previous dates) to go back and attempt to fill lag values for
        col_name_suf - suffix to append to newly created columns (help to distinguish between last filtered column choosen)
    '''
    foo = df[ comb_mask ].sort_values(date_col, ascending=False)     
    length = len(foo[date_col].unique()) # determine number of visits (because multiple item categories can be updated in a single visit)
    for period in range(1, num_periods + 1):
        # skip if there's not enough data to create lag variables
        if length < period + 1:
            continue
        i = 0
        # create duplicate df, but with all indices shifted by the current 'period' number
        foo_shifted = foo.shift(-period)
        foo_grouped = foo.groupby(date_col).mean()
        for index, row in foo.iterrows():
            date = foo_shifted[ foo_shifted.index == index ][date_col].values[0]
            for lag_var in lag_vars:
                lag_val = foo_grouped[ foo_grouped.index == date ][lag_var].values[0]
                # set value
                df.set_value(index, '{}_lag{}{}'.format(lag_var, period, col_name_suf), lag_val)
            i += 1
            if i + period == length:
                break # back to period loop

In [27]:
def lag_rec(df, num_periods, col_filters, date_col, lag_vars, col_name_suf, mask=True):
    '''
    Recursively loop through various heirarchaly ordered columns, grouping by date
    INPUTS:
        df - pandas dataframe
        num_periods - number of periods (previous dates) to go back and attempt to fill lag values for
        col_filters - columns to heiracrchally filter down on, with the last column being the one ultimately used
        date_col - date column to use in grouping and lag periods
        lag_vars - columns of values to create lag variables with
        col_name_suf - suffix to append to newly created columns (help to distinguish between last filtered column choosen)
        mask - DO NOT CHANGE. Required to be True to maintain dataframe mask between recursive iterations
    '''
    # begin with mask of all trues
    true_mask = np.ones(len(df), dtype=bool)
    loop_mask = mask & true_mask
    col_filter = col_filters[0]
    for val in df[ loop_mask ][col_filter].unique():
        val_mask = df[col_filter] == val
        comb_mask = loop_mask & val_mask

        if len(col_filters) > 1:
            #recursively update the remaining items' positions
            lag_rec(df, num_periods, col_filters[1:], date_col, lag_vars, col_name_suf, mask=comb_mask)
        else:
            set_lag_vals(df, comb_mask, date_col, lag_vars, num_periods, col_name_suf)

In [28]:
def lag(df, num_periods, col_filters, date_col, lag_vars, col_name_suf):
    '''
    Wrapper function to execute init_nans and lag_rec.
    Inputs:
        df - dataframe
        num_periods - number of periods (previous dates) to go back and attempt to fill lag values for
        col_filters - columns to heiracrchally filter down on, with the last column being the one ultimately used
        date_col - date column to use in grouping and lag periods
        lag_vars - columns of values to create lag variables with
        col_name_suf - suffix to append to newly created columns (help to distinguish between last filtered column choosen)
    Returns:
        Updated dataframe containing new lag columns
    '''
    init_nans(df, num_periods, lag_vars, col_name_suf)
    lag_rec(df, num_periods, col_filters, date_col, lag_vars, col_name_suf)
    return df

In [44]:
def lag_old(df, num_periods=1, first_filter='address1', second_filter='item_category', date_filter='visit_date',
        lag_var1='qty_shrink_per_day', lag_var2='shrink_value_per_day', col_name_suf=''):
    
    # initialize column(s) of nans
    for period in range(1, num_periods + 1):
        df['{}_lag{}{}'.format(lag_var1, period, col_name_suf)] = np.nan
        df['{}_lag{}{}'.format(lag_var2, period, col_name_suf)] = np.nan
        
    for ff_val in df[first_filter].unique():
        ff_mask = df[first_filter] == ff_val
        for sf_val in df[ff_mask][second_filter].unique():
            sf_mask = df[second_filter] == sf_val
            foo = df[ ff_mask & sf_mask ].sort_values(date_filter, ascending=False)
            length = len(foo[date_filter].unique()) # determine number of visits (because multiple item categories can be updated in a single visit)
            for period in range(1, num_periods + 1):
                # skip if there's not enough data to create lag variables
                if length < period + 1:
                    continue
                i = 0
                foo_shifted = foo.shift(-period)
                foo_grouped = foo.groupby(date_filter).mean()
                for index, row in foo.iterrows():
                    date = foo_shifted[ foo_shifted.index == index][date_filter].values[0]
                    lag1_val = foo_grouped[ foo_grouped.index == date][lag_var1].values[0]
                    lag2_val = foo_grouped[ foo_grouped.index == date][lag_var2].values[0]
                    
                    # set values
                    df.set_value(index, '{}_lag{}{}'.format(lag_var1, period, col_name_suf), lag1_val)
                    df.set_value(index, '{}_lag{}{}'.format(lag_var2, period, col_name_suf), lag2_val)
                    i += 1
                    if i + period == length:
                        break # back to cat loop

In [20]:
def create(df, num_periods, col_filters, date_filter, lag_vars, col_name_suf):
    df['zip_code'] = df.apply(zip_code_inc, df=df, axis=1)
    
    # normalize target variables
    days_list = days_between_visits(df)
    df['qty_shrink_per_day'] = df.qty_shrink / days_list
    df['shrink_value_per_day'] = df.shrink_value / days_list
    
    # add lag variables
    df = lag(df, num_periods, col_filters, date_filter, lag_vars, col_name_suf) # caution: takes a long time
    return df

In [21]:
def drop(df):
    del df['address3'] # redundant info (same as address 2)
    del df['postal_code'] # create zip code
    del df['duration'] # all zero values
    del df['dist_customer_id'] # all -1 values
    del df['POG_version_timestamp'] # dup of visit_date

In [22]:
def dummy(df):
    dummy_cols = ['item_category', 'customer_id']
    foo = pd.DataFrame()
    foo[dummy_cols] = df[dummy_cols].astype(str)
    df = pd.get_dummies(df, columns=dummy_cols)
    df[dummy_cols] = foo[dummy_cols]
    del foo
    return df

In [23]:
def clean(file, lag_periods, col_filters, date_filter, lag_vars, col_name_suf, remove_nan_rows=True):
    df = pd.read_pickle(file)
    data_type(df)
    df = create(df, lag_periods, col_filters, date_filter, lag_vars, col_name_suf)
    drop(df)
    df = dummy(df)
    if remove_nan_rows:
        nans(df)
    return df

In [59]:
# get SRP data and clean
df = clean(file='data/SRP/raw_subset_300k.pkl', lag_periods=3, col_filters=['address1', 'item_category'], date_filter='visit_date',
        lag_vars=['qty_shrink_per_day', 'shrink_value_per_day'], col_name_suf='_by_cat', remove_nan_rows=True)

In [37]:
df_test = clean(file='data/SRP/raw_mini_subset.pkl', lag_periods=1, col_filters=['address1', 'item_category'], date_filter='visit_date',
        lag_vars=['qty_shrink_per_day', 'shrink_value_per_day'], col_name_suf='_by_cat', remove_nan_rows=True)

/home/luke/anaconda2/envs/py3/lib/python3.6/site-packages/ipykernel_launcher.py:27: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [60]:
df.to_pickle('data/SRP/clean_data_no_public_lag0.pkl')

# Add public data

In [63]:
df = pd.read_pickle('data/SRP/clean_data_no_public_lag3_by_cat.pkl')

In [54]:
def add_data(df, include_crime=True, remove_nan_rows=True):
    # load data
    fd = pd.read_pickle('data/Food_Deserts/FD_clean.pkl').set_index('Zip Code')
    unemp = pd.read_pickle('data/Unemployment/unemp_clean.pkl').set_index('Zip')
    #inc = pd.read_pickle('data/Income/income_clean.pkl').set_index('ZIPCODE')
    dens = pd.read_pickle('data/Pop_Density/density_clean.pkl').set_index('Zip/ZCTA')
    crime = pd.read_pickle('data/Crime/grouped_clean.pkl').set_index(['state', 'city'])

    # join via zip code
    df = df.join(fd, on=['zip_code'], how='left')
    df = df.join(unemp, on=['zip_code'], how='left')
    # df = df.join(inc, on=['zip_code']  , how='left')
    df = df.join(dens, on=['zip_code'], how='left')
    df['dens_sq_mile'] = df['dens/sq_mile'].replace(0, np.nan)
    del df['dens/sq_mile']
    
    # join via city/state
    if include_crime:
        df = df.join(crime, on=['state', 'city'], how='left')
        
    # drop all rows that contain nan
    if remove_nan_rows:
        nans(df)
        
    return df

In [55]:
def zip_code_str(row, df):
    index = df.columns.get_loc('zip_code')
    code = row[index]
    return str(code).zfill(5)

In [64]:
df = add_data(df, include_crime=True, remove_nan_rows=True)
df['zip_code'] = df.apply(zip_code_str, df=df, axis=1)

# still need to impute nans and 0's

In [65]:
df.to_pickle('data/SRP/clean_data_public_all_lag3_by_cat.pkl')

# POA
- Create averages:
    - Avg qty shrink/day, shink_sales/day, etc
- Engineer lag terms (ie last visit, last month, last season)
    - Use these in whatever model I want
    - Use the averaged values